@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1>.NET Version</h1>
    @System.Environment.Version

    <h2>Description</h2>
    @System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription
</div>
